/* sp.css */
.container {
  column-count: 3; /* Number of columns */
  column-gap: 20px; /* Gap between columns */
}

.container img {
  width: 100%; /* Make images fill their container */
  display: block; /* Remove default inline-block behavior */
  margin-bottom: 20px; /* Spacing between images */
}

@media (max-width: 1200px) {
  .container {
    column-count: 3; /* Adjust for smaller screens */
  }
}

@media (max-width: 900px) {
  .container {
    column-count: 2; /* Adjust for even smaller screens */
  }
}

@media (max-width: 600px) {
  .container {
    column-count: 1; /* Adjust for small screens, single column */
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 60%;
  max-height: 80%;
  overflow: auto;
}

.modal-content img {
  width: 100%;
  height: auto;
}
